nav {
    display: flex;
    align-items: center;
    padding: 12px 3%;
    justify-content: space-between;
    background: linear-gradient(135deg, #de83f8, #ff86db);
    box-shadow: 0 4px 15px rgba(213, 6, 203, 0.3);
    border-radius: 12px;
    position: sticky;
    top: 0px;
    z-index: 10;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left .menu-icon {
    width: 24px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-left .menu-icon:hover {
    transform: scale(1.1);
}

.nav-left .logo {
    width: 70px;
    padding-left: 30px;
    
}

.nav-middle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-middle .search-box {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid #ff89d0;
    border-radius: 50px;
    background: #fff7fb;
    transition: all 0.3s ease;
}

.nav-middle .search-box:hover {
    box-shadow: 0 4px 10px rgb(255, 122, 6);
}

.nav-middle .search-box input {
    border: none;
    outline: none;
    background: transparent;
    width: 300px;
    font-size: 14px;
    padding-left: 8px;
}

.nav-middle .search-box img {
    width: 18px;
    cursor: pointer;
    margin-left: 8px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right .img {
    width: 28px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-right .img:hover {
    transform: scale(1.1);
}

.nav-right .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #00cbf8;
    transition: all 0.3s ease;
}

.nav-right .user-icon:hover {
    box-shadow: 0 4px 12px rgba(213, 6, 203, 0.4);
}