.sidebar {
    background-color: #ffb963;;
    backdrop-filter: blur(15px);
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 80px 2% 20px 2%;
    overflow-y: auto;
    border-right: 1px solid rgba(200, 200, 200, 0.3);
    transition: width 0.3s ease, backdrop-filter 0.3s ease;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.05);
}

.small-sidebar {
    width: 5%;
    background-color: #ffb963;
}

.small-sidebar p,
.small-sidebar h3 {
    display: none !important;
}

.small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;
}

.side-link {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    cursor: pointer;
    width: 95%;
    margin-bottom: 14px;

    border-radius: 10px;
    transition: all 0.25s ease;
}

.shortcut-links img {
    width: 24px;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.side-link:hover {
    background: linear-gradient(135deg, #fd33cad8, #d448f3e9);
    box-shadow: 0px 4px 10px rgba(222, 131, 248, 0.15);
    transform: translateX(4px);
}

.side-link:hover img {
    transform: scale(1.2);
}

.sidebar hr {
    border: 0;
    height: 1px;
    background: rgba(150, 150, 150, 0.2);
    width: 85%;
    margin: 20px 0;
}

.subscribed-list h3 {
    font-size: 13px;
    margin: 20px 0 10px;
    color: #777;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.subscribed-list img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #ff86db65;
    transition: border-color 0.2s ease;
}

.subscribed-list img:hover {
    border-color: #ff86db;
}

.side-link.active img {
    padding-bottom: 2px;
    border-bottom: 3px solid red;
}